.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  list-style: none;
  padding: 2rem;
  justify-content: center;
}

@media (max-width: 768px) {
  .list {
    padding: 1rem;
    gap: 1rem;
  }
}
